go 1.19

use ./01-calorie-counting
use ./02-rock-paper-scissors
use ./03-rucksack-reorganization
use ./04-camp-cleanup
use ./05-supply-stacks
use ./06-tuning-trouble
use ./07-no-space-left-on-device
use ./08-treetop-tree-house
use ./09-rope-bridge
use ./10-cathode-ray-tube
use ./11-monkey-in-the-middle
use ./12-hill-climbing-algorithm
use ./13-distress-signal
use ./14-regolith-reservoir
use ./15-beacon-exclusion-zone
use ./16-proboscidea-volcanium